<br>
<div class="form-inline my-2 my-lg-0" id="test">
  <input class="form-control mr-sm-2" [(ngModel)]="searchValue" type="search" placeholder="Search" aria-label="Search">
</div>
<br>
<br>

<form (change)="filterAnimals()">
  <div class="form-row align-items-center">
    <div class="col-auto my-1">
      <label class="mr-sm-2" for="Age">Choisissez l'âge:</label>
      <select [(ngModel)]="age" name="age" class="custom-select mr-sm-2" id="age">


        <option *ngFor="let a of allAnimals" value="{{a.age}}">{{a.age}}</option>

      </select>
    </div>
  </div>
</form>


<table class="table">
  <thead>
    <tr>

      <th scope="col"></th>


      <th scope="col">Nom</th>
      <th scope="col">Age</th>
      <th scope="col">Sexe</th>
      <th scope="col">Cause</th>
      <th scope="col">Contact</th>
      <th scope="col">Modifier</th>
      <th scope="col">Supprimer</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let animal of allAnimals | searchfilter : searchValue">

      <td><img src="assets/animals/{{animal.image}}" width="250" height="300"></td>
      <td>{{animal.nom}}</td>
      <td>{{animal.age}}</td>
      <td>{{animal.sexe}}</td>
      <td>{{animal.desc}}</td>
      <td>{{animal.contact}}</td>
      <td><button (click)="editAnimal(animal)" class="btn btn-warning">Edit</button></td>

      <td><button (click)="deleteAnimal(animal)" class="btn btn-danger">Delete</button></td>

      


    </tr>
  </tbody>
</table>


<router-outlet></router-outlet>
